@font-face {
    font-family: 'DINNextLTProMedium';
    src: url('DINNextLTPro-Medium.woff2') format('woff2'),
    url('DINNextLTPro-Medium.woff') format('woff'),
    url('DINNextLTPro-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'DINNextLTProRegular';
    src: url('DINNextLTPro-Regular.woff2') format('woff2'),
    url('DINNextLTPro-Regular.woff') format('woff'),
    url('DINNextLTPro-Regular.ttf') format('truetype');
}

body {
    background-color: #038e10;
    color: #000;
    font-family: "DINNextLTProRegular","Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

    text-align: center;
    margin:1%;
}

button {
    border:1px solid #000;
    padding:5px;
    margin:5px;
    background-color: #550000;
    color:#FFF;
    font-size: 2em;
    width: 90%;
}
input[type="text"]{
    font-size: 1.8em;
    border:1px solid #000;
}
h1,h2{
    text-align: center;
    margin:0px;
}
#vs{
    font-size: 1.1em;
    font-family: "DINNextLTProMedium","Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#warChest{
    font-size: 2.2em;
    font-weight: 800;
    color:red;
    font-family: "DINNextLTProMedium","Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
.hideClass {
    display: none;
}
#warLogo{
    width: 70%;
    height: auto;
}
#score{
    font-size: 4em;
}
#clientRegistration{
    margin-top:50px;
    line-height: 30px;
}

.winning {
    color:#000;
}
.loosing {
    color:red;
}
#debugmessage {
    display:none;
}
#gameTable{
    min-height: 400px;
    /*border:1px solid #000;*/

}
#gameMenu {
    text-align: center;
}
#gameList{
    display: none;
    /*border:1px solid #000;*/
}
#sideBar{
    min-height: 400px;
    border:1px solid #000;
    display:none;
}
#showCard1{

}
/* Spaids */
.s1_1 {
    background: url('/images/deck1/s1_1.png');
}
.s1_2 {
    background: url('/images/deck1/s1_2.png');
}
.s1_3 {
    background: url('/images/deck1/s1_3.png');
}
.s1_4 {
    background: url('/images/deck1/s1_4.png');
}
.s1_5 {
    background: url('/images/deck1/s1_5.png');
}
.s1_6 {
    background: url('/images/deck1/s1_6.png');
}
.s1_7 {
    background: url('/images/deck1/s1_7.png');
}
.s1_8 {
    background: url('/images/deck1/s1_8.png');
}
.s1_9 {
    background: url('/images/deck1/s1_9.png');
}
.s1_10 {
    background: url('/images/deck1/s1_10.png');
}
.s1_11 {
    background: url('/images/deck1/s1_11.png');
}
.s1_12 {
    background: url('/images/deck1/s1_12.png');
}
.s1_13 {
    background: url('/images/deck1/s1_13.png');
}


/* Clubs */
.s2_1 {
    background: url('/images/deck1/s2_1.png');
}
.s2_2 {
    background: url('/images/deck1/s2_2.png');
}
.s2_3 {
    background: url('/images/deck1/s2_3.png');
}
.s2_4 {
    background: url('/images/deck1/s2_4.png');
}
.s2_5 {
    background: url('/images/deck1/s2_5.png');
}
.s2_6 {
    background: url('/images/deck1/s2_6.png');
}
.s2_7 {
    background: url('/images/deck1/s2_7.png');
}
.s2_8 {
    background: url('/images/deck1/s2_8.png');
}
.s2_9 {
    background: url('/images/deck1/s2_9.png');
}
.s2_10 {
    background: url('/images/deck1/s2_10.png');
}
.s2_11 {
    background: url('/images/deck1/s2_11.png');
}
.s2_12 {
    background: url('/images/deck1/s2_12.png');
}
.s2_13 {
    background: url('/images/deck1/s2_13.png');
}


/* Hearts */
.s3_1 {
    background: url('/images/deck1/s3_1.png');
}
.s3_2 {
    background: url('/images/deck1/s3_2.png');
}
.s3_3 {
    background: url('/images/deck1/s3_3.png');
}
.s3_4 {
    background: url('/images/deck1/s3_4.png');
}
.s3_5 {
    background: url('/images/deck1/s3_5.png');
}
.s3_6 {
    background: url('/images/deck1/s3_6.png');
}
.s3_7 {
    background: url('/images/deck1/s3_7.png');
}
.s3_8 {
    background: url('/images/deck1/s3_8.png');
}
.s3_9 {
    background: url('/images/deck1/s3_9.png');
}
.s3_10 {
    background: url('/images/deck1/s3_10.png');
}
.s3_11 {
    background: url('/images/deck1/s3_11.png');
}
.s3_12 {
    background: url('/images/deck1/s3_12.png');
}
.s3_13 {
    background: url('/images/deck1/s3_13.png');
}

/* Diamands */
.s4_1 {
    background: url('/images/deck1/s4_1.png');
}
.s4_2 {
    background: url('/images/deck1/s4_2.png');
}
.s4_3 {
    background: url('/images/deck1/s4_3.png');
}
.s4_4 {
    background: url('/images/deck1/s4_4.png');
}
.s4_5 {
    background: url('/images/deck1/s4_5.png');
}
.s4_6 {
    background: url('/images/deck1/s4_6.png');
}
.s4_7 {
    background: url('/images/deck1/s4_7.png');
}
.s4_8 {
    background: url('/images/deck1/s4_8.png');
}
.s4_9 {
    background: url('/images/deck1/s4_9.png');
}
.s4_10 {
    background: url('/images/deck1/s4_10.png');
}
.s4_11 {
    background: url('/images/deck1/s4_11.png');
}
.s4_12 {
    background: url('/images/deck1/s4_12.png');
}
.s4_13 {
    background: url('/images/deck1/s4_13.png');
}
.card {
    /*width: 101px;*/
    /*height: 141px;*/
    /*margin:5px;*/;
    border-radius: 8px;
    border:2px solid #000;
    box-shadow: 3px 3px 5px grey;
    zoom:2.79;
    -moz-transform:scale(2.79);
    -moz-transform-origin: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 102%;
}
.cardCont {
    float: left;
    margin:5px;
}
.back1 {
    background: url('/images/back1.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 102%;
    zoom:1.5;
    -moz-transform:scale(1.5);
    -moz-transform-origin: 0 0;
}
.flip {
    -webkit-perspective: 800;
    width: 200px;
    height: 274px;
    width: 70vw;
    height: 96.2vw;

    position: relative;

}
.isopponent{
    width: 38.5px;
    height: 78.5px;
    width: 20vw;
    height: 27.4vw;
    position: relative;
    zoom:.5;
    -moz-transform:scale(.5);
    -moz-transform-origin: 2px 2px;
}
.flip .cardf.flipped {
    -webkit-transform: rotatey(-180deg);
}
.flip .cardf {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .cardf .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .cardf .front {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.flip .cardf .back {
    -webkit-transform: rotatey(-180deg);
    cursor: pointer;
}