<!-- Default home page -->
<% block('localScripts', '<script src="/views/client.js"></script><script src="/views/war.js"></script>') %>
<% block('localCss', '<link rel="stylesheet" href="/views/client.css">') %>

<div id="mainBody">

    <div id="titleBlock" class="row">
        <div class="columns large-12 medium-12 small-12">
            <h1><img id="warLogo" src="/images/war.png"> </h1>
        </div>
    </div>
    <div id="clientRegistration" class="hideClass">
        <div class="row">
            <div class="columns large-12 medium-12 small-12">
                <h2>Choose your WAR name</h2>
            </div>
        </div>
        <div class="row">

            <div class="columns large-12 medium-12 small-12">
                <input id="playerName" type="text" placeholder="Enter Player Name">
            </div>
            <div class="columns large-12 medium-12 small-12">
                <button id="playerButton">Join the WAR room!!!</button>
            </div>
        </div>
    </div>
    <div id="gameMenu">
        <div class="row">
            <div id="" class="columns large-12 medium-12 small-12">

                <a href="sms://&body=Let's go to WAR - http://gv.cre8ivewebsites.com:1337/"> <button>Share WAR!</button></a>
            </div>
            <div id="" class="columns large-12 medium-12 small-12">
                <button id="hostGame">Start WAR!</button>
            </div>
            <div id="" class="columns large-12 medium-12 small-12">
                <button id="joinGame">Join WAR!</button>
                <!--<button id="deregister">Deregister</button>-->
            </div>

        </div>
    </div>
    <div id="gameWindow" class="hideClass">

        <div class="row">
            <div id="gameList" class="columns large-12 medium-12 small-12">

            </div>
        </div>
        <div class="row">

            <div id="gameTable" class="columns large-12 medium-12 small-12 hideClass">

            </div>
            <!--<div id="sideBar" class="columns large-4 medium-4 small-4">-->
                <!--<div id="players" class="row">-->
                    <!--<div class="columns large-12 medium-12 small-12"></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div id="debug" class="row">
        <div id="debugmessage" class="columns large-6 medium-6 small-6">

        </div>
        <div id="debugView" class="columns large-6 medium-6 small-6">

        </div>
    </div>
</div>